h2 {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    width: 100%;
    padding: 1%;
}

table {
    width: 30%;
    padding: 14%;
}

th {
    text-align: center;
}
